.products{
    padding-bottom: 100px;
}
.products_inner{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.products_h2{
    text-align: center;
    padding: 50px;
}

.product{
    width: 30%;
    padding-top: 30px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product:hover {
    transform: scale(1.05);  
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer; 
  }

.product_grid{
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
}

.product_img{
    width: 100%;
    max-height: 200px;
    margin: 0;
    padding: 0;
}

.product_info{
    margin: 0;
    padding: 10px;
    padding-bottom: 20px;
    background-color: #f4f5f7;
    height: 150px;
}

.product_info h2{
    padding-top: 10px;
    font-weight: 500;
    font-size: 20px;
}

.product_info p{
    height: 75px;
}